<head>
  <meta charset="utf-8" />
  <title>Coro Viz</title>
  <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.0/Chart.min.js"></script>

<style>
.slideContainer {
    text-align: center;
    margin-top:10px;
    margin-left:50px;
    width:80%;
    background-color: powderblue;
    outline-style: double;
}
.slider{
    width:80%;
}
.buttonContainer {
    margin-top:10px;    
    text-align: center;
    width:100%;
    background-color:#3cb371;
    outline-style: double;     
    opacity: 0.9;
}

body {
  background-color: linen;
}
</style>
</head>


<h1>Coro</h1>
<body>

<canvas id="line-chart" width="700" height="250"></canvas>
<canvas id="lineChart" width="700" height="250"></canvas>

<div class="buttonContainer">
<button onclick="updateChartdhmy()"> Toggle </button> 
<p id="p1"> Daily, BiWeekly, Monthly, Yearly</p>
</div>

<script>
var counter=0;
var dates = [{% for item in dates %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array

var cases = [{% for item in cases %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array

var deaths = [{% for item in deaths %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array

console.log("length of dates : " + dates.length );
console.log("length of cases : " + cases.length  );
console.log("length of deaths : " + deaths.length );

var chart1 = new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: dates,
    datasets: [{ 
        data: cases,
        yAxisID: "COVID Cases",
        label: "cases",
        borderColor: "#3e94cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'cases vs deaths'
    },
    scales: {
      yAxes: [{
        id: 'cases',
        type: 'linear',
        position: 'left',
      }]
    }
  }
});

function updateChart() {
console.log(cases);
chart1.data.datasets[0].data = cases;
chart1.data.datasets[1].data = deaths;
chart1.data.labels = dates;
chart1.update();
}

function displayLineChart() {
    var data = {
        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        datasets: [
            {
                label: "Prime and Fibonacci",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
            }
        ]
    };
    var ctx = document.getElementById("lineChart").getContext("2d");
    var options = { };
    var lineChart = new Chart(ctx).Line(data, options);
  }
</script>

</body>
