<head>
  <meta charset="utf-8" />
  <title>Coro Viz</title>
  <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.0/Chart.min.js"></script>

<style>
.slideContainer {
    text-align: center;
    margin-top:10px;
    margin-left:50px;
    width:80%;
    background-color: powderblue;
    outline-style: double;
}
.slider {
    width:80%;
}
.buttonContainer {
    margin-top:10px;    
    text-align: center;
    width:100%;
    background-color:#3cb371;
    outline-style: double;     
    opacity: 0.9;
}
.p {
 	text-align: center;
    width:100%;
    background-color:#65bff5;
}

body {
  background-color: linen;
}

canvas {
height: 150px;
width: 300px;
}
</style>
</head>


<h1>Coro</h1>
<body>
<div class="buttonContainer">
	<button onclick="window.location='/';"> Go back to Home </button> 
	<p> If you want to see another county. </p>
</div>

County Selected: 
<p id="CN" style="text-align: center; width:100%;  background-color:#65bff5;"> </p>

<canvas id="casesChart">	</canvas>
<canvas id="deathChart">	</canvas>
<canvas id="stackedCasesChart">	</canvas>

<div class="buttonContainer">
	<button onclick="updateChart()"> Toggle </button> 
	<p id="p1"> Daily, Weekly, BiWeekly, Monthly </p>
</div>

<script>

var CountyData = [{% for item in countyData %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array
console.log("County Selected is: "+CountyData); 
document.getElementById("CN").innerHTML = CountyData;

var counter=0;
var dates = [{% for item in dates %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array

var cases = [{% for item in cases %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array

var deaths = [{% for item in deaths %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array

//console.log("length of dates: " + dates.length );
//console.log("length of cases: " + cases.length  );
//console.log("length of deaths: " + deaths.length );

//cases Chart
var ctx = document.getElementById('casesChart').getContext('2d');
var casesChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dates,
        datasets: [{
            label: '# of cases',
            data: cases,
			yAxisId: 'Cases',
			xAxisId: 'Date',
			borderColor: "#3e94cd",
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

// deaths Chart
var ctx2 = document.getElementById('deathChart').getContext('2d');
var deathChart = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: dates,
        datasets: [{
            label: '# of deaths',
            data: deaths,
            borderWidth: 1,
			backgroundColor: "#330000",
			fill: true
        }]
    },
    options: {
		tooltips: {
   		   mode: 'index'
   				},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

function updateChart() {
var startVal = 1;
var endValue = deaths.length;

if (counter%4==0) {nth=1;document.getElementById("p1").innerHTML = "Daily";}
if (counter%4==1) {nth=7;document.getElementById("p1").innerHTML = "Weekly";}
if (counter%4==2) {nth=14;document.getElementById("p1").innerHTML = "Biweekly";}
if (counter%4==3) {nth=30;document.getElementById("p1").innerHTML = "Monthly";}

counter=counter+1;
var tempcase = [];
var tempdeath = [];
var dats = [];
for (var i = startVal; i < endValue; i=i+nth) {
  	tempcase.push(cases[i]);
    tempdeath.push(deaths[i]);
    dats.push(dates[i]);
}

//console.log(cases);

casesChart.data.datasets[0].data = tempcase;
casesChart.data.labels = dats;
casesChart.update();

deathChart.data.datasets[0].data = tempdeath;
deathChart.data.labels = dats;
deathChart.update();
}

//stackedChart here
var stackedCases = [{% for item in stackedCases %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array
var trailingSumStackedCases= [{% for item in trailingSumStackedCases %}
             parseInt("{{item}}"),
            {% endfor %}];  
            
var ctx3 = document.getElementById('stackedCasesChart').getContext('2d');
var deathChart = new Chart(ctx3, {
    type: 'bar',
    data: {
        labels: dates,
        datasets: [{
            label: '# cummulative cases till date',
            data: trailingSumStackedCases,
			backgroundColor: "#f5ef42",
        },
        {
            label: '# of new cases on this date',
            data: stackedCases,
			backgroundColor: "#f543bcs",
        },
        
        ]
    },
    options: {
		tooltips: {
   		   mode: 'index'
   				},
        scales: {
        	xAxes: [{stacked: true}], 
            yAxes: [{stacked: true},
            	{ticks: {beginAtZero: true}}]
        }
    }
});

</script>

</body>
