<head>
  <meta charset="utf-8" />
  <title>Coronavirus Visualization</title>
  <!-- import plugin script -->
	<script src='static/Chart.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.0/Chart.min.js"></script>

	<style>
	.slideContainer {
		text-align: center;
		margin-top:10px;
		margin-left:50px;
		width:80%;
		background-color: powderblue;
		outline-style: double;
	}
	.slider {
		width:80%;
	}
	.buttonContainer {
		margin-top:10px;    
		text-align: center;
		width:100%;
		background-color:#3cb371;
		outline-style: double;     
		opacity: 0.9;
	}
	.p {
		text-align: center;
		width:100%;
		background-color:#65bff5;
	}
	h1 {
		text-align: center;
	}
	body {
	  background-color: linen;
	}

	canvas {
	height: 450px !important;
	width: 900px !important;
	border:1px solid #d3d3d3;
	}
	</style>
</head>


<body>
	<h1>Coronavirus</h1>

	<div class="buttonContainer">
		<button onclick="window.location='/';"> Go back to Home </button> 
		<p> If you want to see another county. </p>
	</div>

	County Selected: 
	<p id="CN" style="text-align: center; width:100%;  background-color:#65bff5;"> </p>

	<canvas id="stackedCasesChart">	</canvas>
	<canvas id="stackedDeathsChart"> </canvas>

	<div class="buttonContainer">
		<p> See averages </p>
		<button onclick="updateStackedCharts()"> Toggle </button> 
		<p id="p1"> Daily, 3-day, Weekly, BiWeekly, Monthly </p>
	</div>

	<script>

		var CountyData = [{% for item in countyData %}
					 "{{item}}",
					{% endfor %}];  // convert the char to int while creating the data array
		console.log("County Selected is: "+CountyData); 
		document.getElementById("CN").innerHTML = CountyData;

		var counter=0;
		var dates = [{% for item in dates %}
					 "{{item}}",
					{% endfor %}];  // convert the char to int while creating the data array



		//stackedChart here
		var stackedCases = [{% for item in stackedCases %}
					 parseInt("{{item}}"),
					{% endfor %}];  // convert the char to int while creating the data array
		var trailingSumStackedCases= [{% for item in trailingSumStackedCases %}
					 parseInt("{{item}}"),
					{% endfor %}];  
					
		var ctx3 = document.getElementById('stackedCasesChart').getContext('2d');
		var stackedCasesChart = new Chart(ctx3, {
			type: 'bar',
			data: {
				labels: dates,
				datasets: [{
					label: '# cummulative cases till date',
					data: trailingSumStackedCases,
					backgroundColor: "#ffa533",
				},
				{
					label: '# of new cases on this date',
					data: stackedCases,
					backgroundColor: "#338dff",
				},
				
				]
			},
			options: {
				tooltips: {
				   mode: 'index'
						},
				scales: {
					xAxes: [{stacked: true}], 
					yAxes: [{stacked: true}]
				}
			}
		});

		var stackedDeaths = [{% for item in stackedDeaths %}
					 parseInt("{{item}}"),
					{% endfor %}];  // convert the char to int while creating the data array
		var trailingSumStackedDeaths= [{% for item in trailingSumStackedDeaths %}
					 parseInt("{{item}}"),
					{% endfor %}];

		var ctx4 = document.getElementById('stackedDeathsChart').getContext('2d');
		var stackedDeathsChart = new Chart(ctx4, {
			type: 'bar',
			data: {
				labels: dates,
				datasets: [{
					label: '# cummulative deaths till date',
					data: trailingSumStackedDeaths,
					backgroundColor: "#bf4316",
				},
				{
					label: '# of new death on this date',
					data: stackedDeaths,
					backgroundColor: "#1692bf",
				},
				
				]
			},
			options: {
				tooltips: {
				   mode: 'index'
						},
				scales: {
					xAxes: [{stacked: true}], 
					yAxes: [{stacked: true}]
				}
			}
		});

		function updateStackedCharts() {

			var endValue = stackedDeaths.length;

			if (counter%5==0) {nth=1;document.getElementById("p1").innerHTML = "Daily";}
			if (counter%5==1) {nth=3;document.getElementById("p1").innerHTML = "3-day period";}
			if (counter%5==2) {nth=7;document.getElementById("p1").innerHTML = "Weekly";}
			if (counter%5==3) {nth=14;document.getElementById("p1").innerHTML = "Biweekly";}
			if (counter%5==4) {nth=30;document.getElementById("p1").innerHTML = "Monthly";}

			counter=counter+1;
			var tempcase = [[],[]];
			var tempdeath = [[],[]];
			var dats = [];
			for (var i = 0; i < endValue; i=i+nth) {
				tempcase[0].push(trailingSumStackedCases[i]);
				tempcase[1].push(stackedCases[i]);
				
				tempdeath[0].push(trailingSumStackedDeaths[i]);
				tempdeath[1].push(stackedDeaths[i]);
				dats.push(dates[i]);
			}

			//console.log(cases);

			stackedCasesChart.data.datasets[0].data = tempcase[0];
			stackedCasesChart.data.datasets[1].data = tempcase[1];
			stackedCasesChart.data.labels = dats;
			stackedCasesChart.update();

			stackedDeathsChart.data.datasets[0].data = tempdeath[0];
			stackedDeathsChart.data.datasets[1].data = tempdeath[1];
			stackedDeathsChart.data.labels = dats;
			stackedDeathsChart.update();
			}


	</script>

</body>
