{% extends "layout.html" %}
{% block content  %}

	
<!--label for="Cities">Choose a County:</label>

<form action="{{ url_for('Corochart')}}" method="post">
	County Name: <input type="text" name="county"> <br>
	<input type="submit" value="submit">
</form-->

	<!--div class="navbar-nav mr-auto">
		<a class="nav-item nav-link" href="{{ url_for('Corochart')}}"> 
		Click here for Coronavirus Charts of Los Angeles.
		</a>
	</div-->
{% with messages = get_flashed_messages() %}
{% if messages %}
	{% for message in messages %}
		<h6> {{ message }} </h6>
	{% endfor %}
{% endif %}
{% endwith %}


<form action="{{ url_for('Corochart')}}" method="get">
	
	<select id="state1" name="state1">
	  
	  <option value="Arizona" selected>Arizona</option>
	  <option value="California">California</option>
	  
	</select>
		<input type="submit" value="submit">

</form>


<h4>jQuery Example</h4>
<p><select id="state" name="state">
	  
	  <option value="Arizona" selected>Arizona</option>
	  <option value="California">California</option>
	  
	</select> 
</p> 


<span id="result"> </span>
	<a onclick=func(this) href=# id="calculate">Get counties</a>

<p>
<select id="counties" name="counties" class='counties'>
	  
	  
	  
	  
	</select>
</p>
<script type=text/javascript>
/*
	  $(function() {
		$('a#calculate').bind('click', function() {
		  $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
		    a: $('input[name="a"]').val(),
		    b: $('input[name="b"]').val()
		  }, function(data) {
		    $("#result").text(data.result);
		  });
		  return false;
		});
	  });
*/
function func(){
	var stateSelected = document.getElementById("state").value;
	console.log('in func', state);
	
	let xhr = new XMLHttpRequest();
    let url = "/_getCounties?state=" + stateSelected ;
    xhr.open("GET", url, true); 
    
    //xhr.setRequestHeader("Content-Type", "application/json");
    //xhr.responseType = 'json';
    
    xhr.onreadystatechange = function () {
		if (xhr.readyState === 4
		    && xhr.status === 200) {
		    //var res = JSON.parse( this.responseText)["res"];
		    var res = this.responseText;
		    // populate the county drop down
			var countyList  = JSON.parse(res);
			countyList = countyList.countyListNames;
			//console.log(countyList); countylist needs to be put in select options
			//document.getElementById("result").innerHTML = res;
			var options = [];
			for (var i=0, l=countyList.length; i<l; i++)
				{
				//options.push('<options value="'+countyList[i]+'">'+countyList[i]+'<options>');
				var opt = document.createElement('option');

				opt.text = newSel.options[i].text;
				opt.value = newSel.options[i].value;

				oldSel.add(opt, null);
				}
			console.log(options);
			
				}
			}
		
	xhr.send();
	}
</script>
<p>

    <footer style="color:#828e82; background-color: #fcfaf4; padding: 10px; text-align: center;">
		<p>
			This is built using Charts JS.
		</p>
	</footer>
{% endblock content %}


