<!DOCTYPE html>
<html>
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	    <!-- Bootstrap CSS -->
	    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"-->
		<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')
  </script-->
  
	    {% if title %}
		<title>Flask - {{ title }}</title>
	    {% else %}
		<title>Flask </title>
	    {% endif %}
		<style>
		.mainDiv{
			display: flex;
			
		}
		.Div1{
		width: 33.3%;	
		padding: 0 0 0 20px;
		text-align: center;
		}
		
		.Div2{
		width: 33.3%;
		padding: 0 0 0 20px;
		text-align: center;
		}
		.Div3{
		width: 33.3%;
		padding: 0 0 0 20px;
		text-align: center;
		}
		</style>
		
	</head>

<body>
	
	<main role="main" class="container">
	      	<div class="row">
			<div class="col-md-8">
			{% block content %}
			{% endblock %}
			</div>
	      	</div>
    	</main>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type=text/javascript src="{{
  url_for('static', filename='jquery-3.1.1.min.js') }}">
 
  </script>
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			
			<script>
			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			var $SCRIPT_ROOT='http://localhost:5000/';
  console.log($SCRIPT_ROOT);
			</script-->
</body>
</html>
